/**
 * Global: Typography.
 * -----------------------------------------------------------------------------
 */
h1 {
  font-family: "SF Pro Rounded" !important;
  font-size: 8em;
  font-weight: var(--font-weight-heading);
  letter-spacing: -1.25px;
  margin: 0 0 var(--spacing-m) 0;
  word-break: break-word;
}

h2 {
  font-family: "SF Pro Rounded" !important;
  font-size: 6em;
  font-weight: var(--font-weight-body);
  letter-spacing: -0.5px;
  margin: 0;
  word-break: break-word;
}

p {
  font-family: "SF Pro Rounded" !important;
  font-size: 4.2em;
  line-height: 1.4;
}
